.favorites {
  color: #5d4037;
}

.favorites-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.favorites-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(33.333% - 1rem);
  box-sizing: border-box;
}

.favorites-image {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.favorites-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #5d4037;
}

.favorites-link:hover {
  color: #d35400;
}

.price {
  font-size: 1.5em;
  color: #d35400;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn-yellow {
  background-color: #f7b731 !important; 
  color: #5d4037;
  border: none;
}

.btn-yellow:hover {
  background-color: #d35400;
  color: #fff;
}

.button-group {
  display: flex;
  gap: 10px;
}

.fas.fa-heart-broken {
  transition: color 0.3s ease;
}

.quantity-selector {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.quantity-selector label {
  margin-right: 10px;
}

.quantity-selector .form-control {
  width: 60px;
}
